<div class="bg">
  <div class="container text-light">
    <nav class="navbar navbar-expand-lg">
      <p class="f-12 py-3 mb-0">Copyright © 2020. All Rights Reserved.</p>
      <div
        class="position-absolute right-0 collapse navbar-collapse"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav f-12">
          <a class="text-light my-auto nav-item nav-link active" href="#"
            >HOME <span class="sr-only">(current)</span></a
          >
          <a class="text-light my-auto nav-item nav-link" href="#">FEATURES</a>
          <a class="text-light my-auto nav-item nav-link" href="#">TERMS</a>
          <a class="text-light my-auto nav-item nav-link" href="#">PRIVACY</a>
          <a class="text-light my-auto nav-item nav-link" href="#"
            >CONTACT US</a
          >
          <img
            class="ml-5 text-light fb my-auto nav-item nav-link"
            href="#"
            src="../../assets/footer/facebook (1).svg"
            alt=""
          /><img
            class="text-light icon my-auto nav-item nav-link"
            href="#"
            src="../../assets/footer/instagram.svg"
            alt=""
          /><img
            class="text-light icon my-auto nav-item nav-link"
            href="#"
            src="../../assets/footer/twitter.svg"
            alt=""
          />
        </div>
      </div>
    </nav>
  </div>
</div>
