<div class="card">
  <img
    class="card-img-top w-50 mx-auto mt-3"
    src="../../../assets/clientReview/avtar.png"
    alt="User avtara"
  />
  <div class="card-body">
    <h5 class="card-title text-center font-weight-bold">
      {{ userDetail.firstName }} {{ userDetail.lastName }}
    </h5>
    <p class="mb-1 card-text">Email :- {{ userDetail.email }}</p>
    <p class="mb-1 card-text">
      Monthly Budget :- {{ userDetail.monthlyAdBudget }}
    </p>
    <p class="mb-1 card-text">
      Phone :- {{ userDetail.countrycode }}-{{ userDetail.phone }}
    </p>
    <div class="mt-3">
      <button
        *ngIf="!userDetail.isPaymentDone; else successMessage"
        (click)="payAmountForAds(userDetail.monthlyAdBudget, userDetail.email)"
        class="float-right mt-4 btn btn-primary"
      >
        Pay {{ userDetail.monthlyAdBudget }}
      </button>
    </div>
    <ng-template #successMessage>
      <p class="text-center text-success mt-4 pt-1 mb-0">
        We have started working on promoting your Ads
      </p>
    </ng-template>
  </div>
</div>
