.top-alingment {
  margin-top: 4.0625rem;
}

.logo {
  max-width: 6.875rem;
  max-height: 3.375rem;
}

.art-board {
  width: 95%;
}

.smallest-bubble {
  top: 285px;
  right: 65px;
  width: 19px;
  height: 19px;
}

.smaller-bubble {
  top: 240px;
  width: 38px;
  height: 38px;
}

.bigger-bubble {
    top: 160px;
    width: 80px;
    height: 80px;
  }