<div class="container top-alingment">
  <div class="row">
    <div class="col-12 col-md-5">
      <!-- logo -->
      <div>
        <img
          class="logo img-fluid"
          src="../../../assets/bookDemo/filed-logo-01.png"
          alt=""
        />
      </div>
      <!-- logo end -->

      <!-- heading -->
      <p class="mt-4 mb-0 font-weight-bold f-24">
        {{ LABELS.heading1 }}
      </p>
      <p class="font-weight-bold f-24">
        {{ LABELS.heading2 }}{{ LABELS.free }}{{ LABELS.why }}
      </p>
      <!-- heading end -->

      <!-- sub heading -->
      <div class="mr-3 pr-5">
        <p class="font-weight-bold f-16 mr-5 pr-5">
          {{ LABELS.subHeading }}
        </p>
      </div>
      <!-- sub heading end -->

      <!-- bigger bubble -->
      <div class="text-right mr-2">
        <img
          class="img-fluid position-absolute bigger-bubble"
          src="../../../assets/bookDemo/biggerBubble.svg"
          alt=""
        />
      </div>
      <!-- bigger bubble end -->

      <!-- smaller bubble -->
      <div class="text-right mr-5">
        <img
          class="img-fluid position-absolute smaller-bubble"
          src="../../../assets/bookDemo/smallerBubble.svg"
          alt=""
        />
      </div>
      <!-- smaller bubble end -->

      <!-- smallest bubble -->
      <div class="text-right">
        <img
          class="img-fluid position-absolute smallest-bubble"
          src="../../../assets/bookDemo/smallestBubble.svg"
          alt=""
        />
      </div>
      <!-- smallest bubble end -->

      <!-- art board image -->
      <div class="mt-5 pt-5 text-center">
        <img
          class="art-board img-fluid mt-3"
          src="../../../assets/bookDemo/Artboard 1.png"
          alt=""
        />
      </div>
      <!-- art board image end-->
    </div>
    <div class="col-12 col-md-7">
        <app-start-form></app-start-form>
    </div>
  </div>
</div>
