$mobile-width: 300px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

.book-demo-page {
  height: 100vh;
  @include mobile {
    height: 100vh;
  }
  @include tablet {
    height: auto;
  }
}

.top-alingment {
  margin-top: 4.0625rem;
  @include mobile {
    margin-top: 2.0625rem;
  }
}

.logo {
  max-width: 6.875rem;
  max-height: 3.375rem;
}

.free-design {
  color: #38ccf5;
}

.art-board {
  width: 95%;
}

.smallest-bubble {
  top: 285px;
  width: 19px;
  height: 19px;
}

.smaller-bubble {
  top: 240px;
  width: 38px;
  height: 38px;
  @include tablet {
    top: 300px;
    right: 20px;
  }
}

.bigger-bubble {
  top: 160px;
  right: -110px;
  width: 80px;
  height: 80px;
  @include tablet {
    top: 200px;
    right: -50px;
  }
}

.blue-bubble {
  @include tablet {
    left: 0;
  }
}

.five-matrix {
  width: 100px;
  right: 0px;
}
