<div class="full-height container top-alingment">
  <div class="row">
    <div class="col-12 col-md-5">
      <!-- logo -->
      <div>
        <img
          class="logo img-fluid"
          src="../../../assets/bookDemo/filed-logo-01.png"
          alt=""
        />
      </div>
      <!-- logo end -->

      <!-- heading -->
      <p class="text-center text-md-left mt-4 mb-0 font-weight-bold f-24">
        {{ LABELS.heading1 }}
      </p>
      <p class="text-center text-md-left font-weight-bold f-24">
        {{ LABELS.heading2 }}{{ LABELS.free }}{{ LABELS.why }}
      </p>
      <!-- heading end -->

      <!-- sub heading -->
      <div class="text-center text-md-left mr-md-3 pr-md-5">
        <p class="font-weight-bold f-16 mr-md-5 pr-md-5">
          {{ LABELS.subHeading }}
        </p>
      </div>
      <!-- sub heading end -->

      <!-- bigger bubble -->
      <div class="d-none d-md-block text-right">
        <img
          class="img-fluid position-absolute bigger-bubble"
          src="../../../assets/bookDemo/biggerBubble.svg"
          alt=""
        />
      </div>
      <!-- bigger bubble end -->

      <!-- smaller bubble -->
      <div class="d-none d-md-block text-right mr-2">
        <img
          class="img-fluid position-absolute smaller-bubble"
          src="../../../assets/bookDemo/smallerBubble.svg"
          alt=""
        />
      </div>
      <!-- smaller bubble end -->

      <!-- smallest bubble -->
      <div class="d-none d-md-block text-right mr-4 pr-3">
        <img
          class="img-fluid position-absolute smallest-bubble"
          src="../../../assets/bookDemo/smallestBubble.svg"
          alt=""
        />
      </div>
      <!-- smallest bubble end -->

      <!-- art board image -->
      <div class="d-none d-md-block mt-5 pt-5 text-center">
        <img
          class="art-board img-fluid mt-3"
          src="../../../assets/bookDemo/Artboard 1.png"
          alt=""
        />
      </div>
      <!-- art board image end-->
    </div>
    <div class="col-12 col-md-7 px-4 px-md-3">
      <div class="ml-5 pl-5">
        <img
          class="d-none d-md-block z-1 mt-2 pt-1 w-25 position-absolute"
          src="../../../assets/bookDemo/blueBubble.svg"
          alt=""
        />
        <img
          class="d-none d-md-block z-1 mt-3 pt-1 float-right five-matrix position-absolute"
          src="../../../assets/bookDemo/matrixFive.svg"
          alt=""
        />
      </div>
      <div class="pt-2">
        <app-start-form></app-start-form>
      </div>
    </div>
  </div>
</div>
