<div class="book-demo-page container top-alingment">
  <div class="row mb-md-5 mb-lg-0">
    <div class="col-12 col-md-5">
      <!-- logo -->
      <div class="d-none d-md-block">
        <img
          class="logo img-fluid"
          src="../../../assets/bookDemo/filed-logo-01.png"
          alt=""
        />
      </div>
      <!-- logo end -->

      <!-- heading mobile and desktop -->
      <p
        class="
          d-block d-md-none d-lg-block
          text-center text-md-left
          mt-4
          mb-0
          font-weight-bold
          f-24
        "
      >
        {{ LABELS.heading1 }}
      </p>
      <p
        class="
          d-block d-md-none d-lg-block
          text-center text-md-left
          font-weight-bold
          f-24
        "
      >
        {{ LABELS.heading2 }}<span class="free-design">{{ LABELS.free }}</span
        >{{ LABELS.why }}
      </p>
      <!-- heading tablet view -->
      <p class="d-none d-md-block d-lg-none font-weight-bold f-24 mt-4">
        {{ LABELS.heading1 }}{{ LABELS.heading2
        }}<span class="free-design">{{ LABELS.free }}</span
        >{{ LABELS.why }}
      </p>
      <!-- heading end -->

      <!-- sub heading -->
      <div class="text-center text-md-left mr-md-0 mr-lg-3 pr-md-0 pr-lg-5">
        <p class="font-weight-bold f-16 mr-lg-5 pr-lg-5">
          {{ LABELS.subHeading }}
        </p>
      </div>
      <!-- sub heading end -->

      <!-- bigger bubble -->
      <div class="d-none d-md-block text-right">
        <img
          class="img-fluid position-absolute bigger-bubble"
          src="../../../assets/bookDemo/biggerBubble.svg"
          alt=""
        />
      </div>
      <!-- bigger bubble end -->

      <!-- smaller bubble -->
      <div class="d-none d-md-block text-right mr-2">
        <img
          class="img-fluid position-absolute smaller-bubble"
          src="../../../assets/bookDemo/smallerBubble.svg"
          alt=""
        />
      </div>
      <!-- smaller bubble end -->

      <!-- smallest bubble -->
      <div class="d-none d-lg-block text-right mr-4 pr-3">
        <img
          class="img-fluid position-absolute smallest-bubble"
          src="../../../assets/bookDemo/smallestBubble.svg"
          alt=""
        />
      </div>
      <!-- smallest bubble end -->

      <!-- art board image -->
      <div class="d-none d-md-block mt-5 pt-5 text-center">
        <img
          class="art-board img-fluid mt-3"
          src="../../../assets/bookDemo/Artboard 1.png"
          alt=""
        />
      </div>
      <!-- art board image end-->
    </div>
    <div class="col-12 col-md-7 px-4 px-md-3">
      <div class="ml-5 pl-5">
        <img
          class="
            d-none d-md-block
            blue-bubble
            mt-md-2 mt-lg-0
            z-1
            pt-1
            w-25
            ml-4
            position-absolute
          "
          src="../../../assets/bookDemo/blueBubble.svg"
          alt=""
        />
        <img
          class="
            d-none d-md-block
            z-1
            mt-3
            pt-1
            float-right
            five-matrix
            position-absolute
          "
          src="../../../assets/bookDemo/matrixFive.svg"
          alt=""
        />
      </div>
      <div class="pt-2">
        <app-user-details-form></app-user-details-form>
      </div>
    </div>
  </div>
</div>
