<div class="offers-bg">
  <div class="d-none d-md-block">
    <img
      class="img-fluid float-right"
      src="../../../assets/offers/topCut.svg"
      alt="top cut image"
    />
  </div>
  <div class="">
    <img
      class="facebook-alingment position-absolute img-fluid float-right"
      src="../../../assets/offers/facebook.svg"
      alt="facebook icon"
    />
  </div>
  <div class="offers-alingment position-absolute font-weight-bold px-4 mx-2 mx-md-0 px-md-0 text-md-center">
    <p>{{ LABELS.offer }}</p>
  </div>
  <div>
    <img
      class="position-absolute google-alingment img-fluid float-right"
      src="../../../assets/offers/google.svg"
      alt="google icon"
    />
  </div>
  <div>
    <img
      class="instagram-alingment position-absolute img-fluid float-right"
      src="../../../assets/offers/instagram.svg"
      alt="instagram icon"
    />
  </div>
</div>
