<div
  [ngClass]="{ 'fade-in': isContactFormActive }"
  class="
    form-container
    px-3 px-md-4 px-lg-5
    pt-5 pt-md-4 pt-lg-5
    pb-4
    form-width
    mt-md-5 mt-4
  "
>
  <div
    [ngClass]="{ 'mb-3': isContactFormActive, 'mb-4': !isContactFormActive }"
    class="d-none d-md-block text-center mt-3"
  >
    <p class="font-weight-bold">
      {{ isContactFormActive ? LABELS.contactHeading : LABELS.heading }}
    </p>
  </div>
  <div
    [ngClass]="{ 'mb-3': isContactFormActive, 'mb-5': !isContactFormActive }"
    class="sub-heading text-center px-4 px-md-5"
  >
    <p>
      {{ isContactFormActive ? LABELS.contactSubHeading : LABELS.subHeading }}
    </p>
  </div>
  <div class="text-left">
    <form
      *ngIf="!isContactFormActive; else contactFormView"
      [formGroup]="startForm"
    >
      <div class="mb-4">
        <div>
          <label for="adsConvert">{{ LABELS.adsConvertQuestion }}</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="yes"
            value="yes"
            formControlName="adsConvert"
          />
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="no"
            value="no"
            formControlName="adsConvert"
          />
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="monthlyBudget">{{ LABELS.monthlyBudgetQuestion }}</label>
        <select
          id="monthlyBudget"
          formControlName="monthlyBudget"
          class="form-control"
        >
          <option value="" disabled selected>Select</option>
          <option
            *ngFor="let budget of LABELS.budgetList"
            [value]="budget.price"
          >
            {{ budget.label }}
          </option>
        </select>
      </div>

      <button
        class="
          red-button
          font-weight-bold
          f-14
          text-light
          btn btn-block
          mb-3
          mt-5
        "
        (click)="letsStart()"
        [disabled]="!this.startForm.valid"
      >
        {{ LABELS.ctaButton }}
      </button>
    </form>
    <ng-template #contactFormView>
      <form [formGroup]="contactForm">
        <div class="row mb-3">
          <div class="col pr-1">
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              [ngClass]="{
                'is-invalid': f.firstName.touched && f.firstName.errors
              }"
              placeholder="First Name *"
            />
            <div class="invalid-feedback">First name is required.</div>
          </div>
          <div class="col pl-1">
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              [ngClass]="{
                'is-invalid': f.lastName.touched && f.lastName.errors
              }"
              placeholder="Last Name *"
            />
            <div class="invalid-feedback">Last name is required.</div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="email"
            [ngClass]="{
              'is-invalid':
                isUserAlreadyRegistered || (f.email.touched && f.email.errors)
            }"
            class="form-control is-invalid"
            formControlName="email"
            placeholder="Work Email *"
            (change)="checkEmail($event.target.value)"
          />
          <div
            class="invalid-feedback"
            *ngIf="isUserAlreadyRegistered; else userNotRegistered"
          >
            User already registered.
          </div>
          <ng-template #userNotRegistered>
            <div
              *ngIf="f.email.touched && f.email.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.email.errors.required">Email is required*</div>
              <div *ngIf="f.email.errors.pattern">Invalid Email</div>
            </div>
          </ng-template>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="monthlyAdBudget"
            [ngClass]="{
              'is-invalid':
                f.monthlyAdBudget.touched && f.monthlyAdBudget.errors
            }"
            placeholder="Monthly Advertising Budget *"
          />
          <div class="invalid-feedback">Monthly Budget is required.</div>
        </div>
        <div class="row">
          <div class="col-4 pr-1">
            <select
              formControlName="countrycode"
              class="form-control"
              [ngClass]="{
                'is-invalid': f.countrycode.touched && f.countrycode.errors
              }"
              placeholder="Select Country *"
              (change)="selectedCounty($event.target.value)"
            >
              <option value="" disabled selected>Select</option>
              <option
                *ngFor="let country of LABELS.countyWithPhoneCode"
                [value]="country.dial_code"
              >
                {{ country.name }}
              </option>
            </select>
            <div class="invalid-feedback">Select Country.</div>
          </div>
          <div class="col-8 pl-1">
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">{{ selectedCountryCode }}</div>
              </div>
              <input
                type="text"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.phone.touched && f.phone.errors }"
                formControlName="phone"
                placeholder="Phone *"
              />
              <div class="invalid-feedback">Invalild Phone number.</div>
            </div>
          </div>
        </div>
        <button
          class="
            red-button
            font-weight-bold
            f-14
            text-light
            btn btn-block
            mb-3
            mt-5
          "
          [disabled]="!this.contactForm.valid"
          (click)="letsContact()"
        >
          {{ LABELS.contactCtaButton }}
        </button>
      </form>
    </ng-template>
  </div>
  <div></div>
</div>
